# Data discovery: Load and simple query 
## Lab workflow

<img src="../Img/Simple-workflow-1.png" width=auto; height="400">


Download the dataset from [TLC Trip Record Data](https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page)

In [1]:
# Import library PySpark and use SparkSession
from pyspark.sql import SparkSession

## Create SparkSession 
- What is a **SparkSession** - It is a representation or working instance of a Spark Application that is used to create and manage data processing in the system.
- What is **master("local[1]")** - defines whether to use local mode to run with only 1 execution thread.
- What is **appName("spark")** - Defines the name of the Spark Application.
- What is **getOrCreate()** - It's the method used to invoke or create a SparkSession.

In [2]:
# Create SparkSession
spark = SparkSession.builder\
             .master("local[1]")\
             .appName("spark")\
             .getOrCreate()

In [ ]:
# Load file
local_file = '../Sources/yellow_tripdata_2023-01.parquet'

# Show data from parquet file
spark.read.parquet(local_file).show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2023-01-01 07:32:10|  2023-01-01 07:40:36|            1.0|         0.97|       1.0|                 N|         161|         141|           2|        9.3|  1.0|    0.5|       0.0|         0.0|                  1.0|        14.3|                 2.5|        0.0|
|       2| 2023-01-01 07:55:08|  2023-01-01 08:01:27|            1.0|          1.1|       1.0|                 N|          43|         237|           1|        7.9|  1.0|    0.5|       4.0|         0.0|                  1.0|        16.9|                 2.5|        0.0|
|       2| 2023-01-01 07:25:04|  2023-01-01 07:37:49|            1.0|         2.51|       1.0|                 N|          48|         238|           1|       14.9|  1.0|    0.5|      15.0|         0.0|                  1.0|        34.9|                 2.5|        0.0|
|       1| 2023-01-01 07:03:48|  2023-01-01 07:13:25|            0.0|          1.9|       1.0|                 N|         138|           7|           1|       12.1| 7.25|    0.5|       0.0|         0.0|                  1.0|       20.85|                 0.0|       1.25|
|       2| 2023-01-01 07:10:29|  2023-01-01 07:21:19|            1.0|         1.43|       1.0|                 N|         107|          79|           1|       11.4|  1.0|    0.5|      3.28|         0.0|                  1.0|       19.68|                 2.5|        0.0|
|       2| 2023-01-01 07:50:34|  2023-01-01 08:02:52|            1.0|         1.84|       1.0|                 N|         161|         137|           1|       12.8|  1.0|    0.5|      10.0|         0.0|                  1.0|        27.8|                 2.5|        0.0|
|       2| 2023-01-01 07:09:22|  2023-01-01 07:19:49|            1.0|         1.66|       1.0|                 N|         239|         143|           1|       12.1|  1.0|    0.5|      3.42|         0.0|                  1.0|       20.52|                 2.5|        0.0|
|       2| 2023-01-01 07:27:12|  2023-01-01 07:49:56|            1.0|         11.7|       1.0|                 N|         142|         200|           1|       45.7|  1.0|    0.5|     10.74|         3.0|                  1.0|       64.44|                 2.5|        0.0|
|       2| 2023-01-01 07:21:44|  2023-01-01 07:36:40|            1.0|         2.95|       1.0|                 N|         164|         236|           1|       17.7|  1.0|    0.5|      5.68|         0.0|                  1.0|       28.38|                 2.5|        0.0|
|       2| 2023-01-01 07:39:42|  2023-01-01 07:50:36|            1.0|         3.01|       1.0|                 N|         141|         107|           2|       14.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        19.9|                 2.5|        0.0|
|       2| 2023-01-01 07:53:01|  2023-01-01 08:01:45|            1.0|          1.8|       1.0|                 N|         234|          68|           1|       11.4|  1.0|    0.5|      3.28|         0.0|                  1.0|       19.68|                 2.5|        0.0|
|       1| 2023-01-01 07:43:37|  2023-01-01 08:17:18|            4.0|          7.3|       1.0|                 N|          79|         264|           1|       33.8|  3.5|    0.5|      7.75|         0.0|                  1.0|       46.55|                 2.5|        0.0|
|       2| 2023-01-01 07:34:44|  2023-01-01 08:04:25|            1.0|         3.23|       1.0|                 N|         164|         143|           1|       26.1|  1.0|    0.5|      6.22|         0.0|                  1.0|       37.32|                 2.5|        0.0|
|       2| 2023-01-01 07:09:29|  2023-01-01 07:29:23|            2.0|        11.43|       1.0|                 N|         138|          33|           1|       44.3|  6.0|    0.5|     13.26|         0.0|                  1.0|       66.31|                 0.0|       1.25|
|       2| 2023-01-01 07:33:53|  2023-01-01 07:49:15|            1.0|         2.95|       1.0|                 N|          33|          61|           1|       17.7|  1.0|    0.5|      4.04|         0.0|                  1.0|       24.24|                 0.0|        0.0|
|       2| 2023-01-01 07:13:04|  2023-01-01 07:22:10|            1.0|         1.52|       1.0|                 N|          79|         186|           1|       10.0|  1.0|    0.5|      1.25|         0.0|                  1.0|       16.25|                 2.5|        0.0|
|       2| 2023-01-01 07:45:11|  2023-01-01 08:07:39|            1.0|         2.23|       1.0|                 N|          90|          48|           1|       19.8|  1.0|    0.5|      4.96|         0.0|                  1.0|       29.76|                 2.5|        0.0|
|       1| 2023-01-01 07:04:33|  2023-01-01 07:19:22|            1.0|          4.5|       1.0|                 N|         113|         255|           1|       20.5|  3.5|    0.5|       4.0|         0.0|                  1.0|        29.5|                 2.5|        0.0|
|       1| 2023-01-01 07:03:36|  2023-01-01 07:09:36|            3.0|          1.2|       1.0|                 N|         237|         239|           2|        8.6|  3.5|    0.5|       0.0|         0.0|                  1.0|        13.6|                 2.5|        0.0|
|       1| 2023-01-01 07:15:23|  2023-01-01 07:29:41|            2.0|          2.5|       1.0|                 N|         143|         229|           2|       15.6|  3.5|    0.5|       0.0|         0.0|                  1.0|        20.6|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [ ]:
# Read taxi data
local_file = '../Sources/yellow_tripdata_2023-01.parquet'
df = spark.read.parquet(local_file)

In [ ]:
# DF is like a relation table in **memory** . Let's see the columns
df.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

In [ ]:
# Query sample from SQL to Spark query:
# select VendorID, total_amount from df
# where total_amount > 1;
# ---------------------------------------
# And save result to df2

df2 = df.select('VendorID','total_amount').where('total_amount > 1')

In [ ]:
# Query sample from SQL to Spark query:
# select VendorID, total_amount from df
# where total_amount > 1
# limit 5;

df.select('VendorID','total_amount').where('total_amount > 1').show(n=5)

+--------+------------+
|VendorID|total_amount|
+--------+------------+
|       2|        14.3|
|       2|        16.9|
|       2|        34.9|
|       1|       20.85|
|       2|       19.68|
+--------+------------+
only showing top 5 rows

In [ ]:
# Create Temporary View for SQL query 

df.createOrReplaceTempView('yellow_taxis')

In [ ]:
# SQL Statement

spark.sql('select VendorID, tpep_pickup_datetime, passenger_count from yellow_taxis where total_amount > 1 and passenger_count > 2').show(n=5)

+--------+--------------------+---------------+
|VendorID|tpep_pickup_datetime|passenger_count|
+--------+--------------------+---------------+
|       1| 2023-01-01 07:43:37|            4.0|
|       1| 2023-01-01 07:03:36|            3.0|
|       1| 2023-01-01 07:21:49|            4.0|
|       2| 2023-01-01 07:27:16|            4.0|
|       2| 2023-01-01 07:15:13|            5.0|
+--------+--------------------+---------------+
only showing top 5 rows

In [ ]:
# **Important** Stop the session

spark.stop()